<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>AAP</string>
	<string>NOOT</string>
	<string>MIES</string>
	<string>BAL</string>
	<string>WIM</string>
	<string>ZUS</string>
	<string>JET</string>
	<string>TEUN</string>
	<string>VUUR</string>
	<string>LAM</string>
	<string>BOK</string>
	<string>DUIF</string>
	<string>WEI</string>
	<string>KEES</string>
	<string>ROVER</string>
	<string>BENDE</string>
	<string>TOON</string>
	<string>TOOI</string>
	<string>BOON</string>
	<string>GOLF</string>
	<string>ROOD</string>
	<string>BOOR</string>
	<string>KOOL</string>
</array>
</plist>
